{% extends "base.html" %}
{% block projectactive %}active{% endblock projectactive %}
<title>{% block title %}Projects{% endblock title %}</title>

{% block body%}


        <div class="container-fluid">
          <a class="navbar-brand" href="#">Developer Aman</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">about</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/project">project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">contact</a>
              </li>
              
              
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <div class="container my-3">

        <h2 class ="text-center">Projects</h2>
    
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://source.unsplash.com/random/300x300/?code" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Project 01</h5>
                <p class="card-text">A python project
                  .</p>
                <a href="#" class="btn btn-primary">Click for demo</a>
              </div>
            </div>
          </div>
    
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://source.unsplash.com/random/300x300/?education" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Project 02</h5>
                <p class="card-text">A Web Development Frontend Project
                  .</p>
                <a href="#" class="btn btn-primary">Click for demo</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://source.unsplash.com/random/300x300/?achievements" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Project 03</h5>
                <p class="card-text">A Web Development Backend Project 
                  .</p>
                <a href="#" class="btn btn-primary">Click for domo</a>
              </div>
            </div>
          </div>
        </div>
    
      </div>
      
      {% endblock body%}
